body {
    background-color: rgb(206, 203, 203);
    font-family: Arial, Helvetica, sans-serif;
}
header {
    text-align: center;
    color: rgb(81, 81, 167);
    font-size: 30px;
}
.formula {
    font-size: 20px;
    color: rgb(82, 168, 82);
    text-align: center;
}
.small-header {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}
.text-1 {
    font-size: 20px;
    padding: 10px;
}
.text-2 {
padding: 10px;  
}
.text-3 {
    color: rgb(168, 47, 168);  
    font-size: larger;
}
a {
    color: rgb(68, 87, 170);
    text-decoration: none;
}